<nav class="flex flex-col items-center py-12 lg:py-16 max-w-5xl mx-auto gap-6">

    <div class="flex items-center gap-8">
        {{ settings:social }}
        <a href="{{ url }}" aria-label="{{ name }}" rel="noopener">
            {{ svg :src="icon" class="h-6 w-6 hover:text-turquoise-400 transition" }}
        </a>
        {{ /settings:social }}
    </div>

    <div class="text-sm">&copy; {{ now format="Y" }} {{ settings:site_name }}</div>

    <div class="text-sm flex flex-col sm:flex-row flex-wrap items-center space-x-2">
        <div>Powered by <a href="https://statamic.com" class="font-medium hover:underline decoration-turquoise-400 decoration-wavy  transition">Statamic</a></div>
        <div class="hidden sm:block">—</div>
        <div>Syntax highlighting by <a href="https://torchlight.dev" class="font-medium hover:underline decoration-turquoise-400 decoration-wavy  transition">Torchlight</a></div>
    </div>

</nav>
