<div class="max-w-5xl mx-auto relative flex flex-col sm:flex-row py-16 lg:pt-40 lg:pb-32 gap-4">
    <article>
        <p class="font-medium text-lg pb-2">{{ subtitle }}</p>
        <h1 class="font-display">{{ content }}</h1>
    </article>

    {{ asset url="/assets/site/me.jpg" }}
        <img src="{{ glide :src="url" w="200" h="200" }}" alt="{{ alt }}" class="rounded-full shadow h-24 w-24 lg:h-40 lg:w-40 p-2 gradient-primary hover:rotate-12 transition">
    {{ /asset }}
</div>

<div class="max-w-2xl mx-auto pb-32">
    {{ collection:articles limit="5" as="articles" }}
        {{ articles }}
            <a href="{{ url }}" class="-my-4 py-4 -mx-4 px-4 md:-my-8 md:py-8 md:-mx-8 md:px-8 rounded-lg group block hover:bg-gradient-to-br from-turquoise-200/50 to-turquoise-300/50 hover:shadow active:shadow-inner transition">
                <div>
                    <h2 class="mb-4">
                        <span class="gradient-primary text-4xl tracking-tight leading-tight font-display group-hover:text-transparent bg-clip-text transition">
                            {{ title | widont }}
                        </span>
                    </h2>
                    <p class="text-slate-600">
                        <span class="text-slate-800 text-sm uppercase tracking-widest font-medium">{{ date }}</span> &mdash;
                        {{ excerpt | widont ?? content | strip_tags | safe_truncate(150, '...') }}
                    </p>
                </div>
            </a>
        {{ /articles }}
    {{ /collection:articles }}
</div>
