<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }} — {{ settings:site_name }}</title>
    <meta name="description" content="{{ excerpt ?? title }}">

    {{ partial:seo-tags }}

    <meta name="theme-color" content="24e0b8">
    {{ asset url="/assets/site/favicon/apple-touch-icon.png" }}
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url }}">
    {{ /asset }}
    {{ asset url="/assets/site/favicon/favicon-32x32.png" }}
            <link rel="apple-touch-icon" sizes="180x180" href="{{ url }}">
    {{ /asset }}
    {{ asset url="/assets/site/favicon/favicon-16x16.png" }}
            <link rel="apple-touch-icon" sizes="180x180" href="{{ url }}">
    {{ /asset }}
    {{ asset url="/assets/site/favicon/site.webmanifest" }}
        <link rel="manifest" href="{{ url }}">
    {{ /asset }}

    {{ vite src="resources/css/tailwind.css|resources/js/site.js" }}
    <style>[x-cloak] { display: none !important; }</style>
    <script defer data-domain="rubenvanerk.com" src="https://plausible.wrve.nl/js/script.js"></script>
</head>
<body class="the-gradient font-sans leading-normal text-slate-600 px-4 sm:px-20" x-data="{ showMobileNav: false }">
    <div class="bg-turquoise-300 mt-4 sm:mt-14 px-8 rounded-xl shadow-lg">
        {{ partial:nav }}
        {{ template_content }}
    </div>
    {{ partial:footer }}
</body>
</html>
