<div class="max-w-5xl mx-auto relative mt-10 pb-6 content">
    {{ svg src="/assets/site/404.svg" class="absolute mt-8 top-0 left-0 w-40 hidden lg:block" }}
    <div class="lg:py-32 max-w-2xl mx-auto">
        <h1 class="font-display mb-16">Page not found</h1>
        <a href="#"
            class="flex items-center space-x-2 w-fit bg-gradient-to-br from-turquoise-200/80 to-turquoise-300/80 px-4 py-2 rounded-lg shadow hover:shadow-lg font-semibold tracking-tight text-xl transition focus:shadow-inner focus:shadow focus:from-stone-50/50 focus:to-turquoise-100/50">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>
            <span>
                Go back home
            </span>
        </a>
    </div>
</div>
