<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ current_url }}">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ excerpt ?? title }}">
<meta property="og:image" content="{{ link to="assets/social/{{ id }}.png" absolute="true" }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ current_url }}/">
<meta property="twitter:title" content="{{ title }}">
<meta property="twitter:description" content="{{ excerpt ?? title }}">
<meta property="og:image" content="{{ link to="assets/social/{{ id }}.png" absolute="true" }}">
