<div class="max-w-5xl mx-auto relative mt-10 pb-6 content">

    {{ if side_image }}
        <img src="{{ side_image }}" class="absolute mt-8 top-0 left-0 w-40 hidden lg:block">
    {{  else }}
        {{ svg src="/assets/site/dddivided/dddivided.svg" class="absolute mt-8 top-0 left-0 w-20 hidden lg:block" }}
    {{ /if }}

    <article class="lg:py-32 max-w-2xl mx-auto">
        <h1 class="font-display mb-16">{{ title }}</h1>

        {{ partial:mark }}Published on {{ date format="M j, Y" }}{{ /partial:mark }}

        <div
            class="content prose prose-slate lg:prose-xl prose-headings:text-slate-600 prose-headings:font-display prose-pre:p-0 lg:prose-pre:-mx-16 prose-pre:shadow-lg prose-a:font-medium hover:prose-a:text-slate-500 prose-a:transition">
            {{ content | widont }}
        </div>

        <div class="mt-16">
            Do you have feedback or comments?
            Let me know on
            <a href="https://twitter.com/wrubenvanerk"
               class="transition font-medium hover:text-slate-500 underline"
               target="_blank"
               rel="noopener noreferrer">Twitter</a>!
        </div>

    </article>
</div>
